/*
 Table Of Contents
 1.) Eric Meyer's Reset
 2.) Global Typography
 2.0.1) Font Face
 2.0.2) Global Headings
 2.0.3) Form Elements
 2.0.4) List styles
 2.0.5) General Text Formatting
 2.0.6) Link elements
 2.0.7) Table Elements
 2.0.8) Button Styles
 2.0.9) Sprite Icons
 2.1.0) 960 Grid Style
 3.) Site Wide Content
 4.) Header Style
 5.) Footer Style
 ===============================================*/

/*
 1.) Eric Meyer's Reset
 ----------------------------------------*/
/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 62.5%;
	vertical-align: baseline;
	font-family: 'Lato', sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: 'Lato', sans-serif;
	overflow-x: hidden !important;
}
.font-stack {
	font-family: 'Lato', sans-serif;
    font-family: 'Nunito', sans-serif;
	font-family: 'Roboto', sans-serif;
}
/*
 1.) Global Typography
 ----------------------------------------*/
*, :before, :after {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	outline:0;
}
/*
 2.0.1) Font Face
 -----------------------------*/
/*Put Your font face Styles here*/

/*
 2.0.2) Global Headings
 -----------------------------*/
h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
	color: #000;
}
h1 {
	/* font-size: 48px; */
	font-size: 4.8em;
	line-height: 0.875;
	margin: 0 0 0.4375em 0;
}
h2 {
	/* font-size: 32px; */
	font-size: 3.2em;
	line-height: 1.3125;
	margin: 0 0 0.65625em 0;
}
h3 {
	/* font-size: 24px; */
	font-size: 2.4em;
	line-height: 0.875;
	margin: 0 0 0.875em 0;
}
h4 {
	/* font-size: 21px; */
	font-size: 2.1em;
	line-height: 1;
	margin: 0 0 1em 0;
}
h5 {
	/* font-size: 18px; */
	font-size: 1.8em;
	line-height: 1.16667;
	margin: 0 0 1.16667em 0;
}
h6 {
	/* font-size: 14px; */
	font-size: 1.4em;
	line-height: 1.5;
	margin: 0 0 1.5em 0;
}
/*
 2.0.5) General Text Formatting
 -----------------------------------*/
p {
	font-size: 100%;
	line-height: 1.5;
}
img {
	max-width: 100%;
	height: auto;
}


/*
 2.0.5) General Text Formatting
 -----------------------------------*/
/*
 2.0.6) Link style
 -------------------------*/
a {
	color: #000;
	text-decoration: none;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
a:hover, a:focus {
	text-decoration: none;
}
a:active {
	outline: none;
}
ul, li {
	list-style-type: none;
}
/*
 2.0.9) Sprite Icons
 -------------------------*/
[class^="icon-"], [class*="icon-"] {
	background-image: url(../images/sprite.html);
	background-position: 0 0;
	background-repeat: no-repeat;
	display: inline-block;
	height: 14px;
	line-height: 14px;
	margin-top: 1px;
	vertical-align: text-top;
	width: 14px;
}

/* Clear Floated Elements
 ----------------------------------------------------------------------------------------------------*/

/* http://sonspring.com/journal/clearing-floats */

.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

/* http://perishablepress.com/press/2008/02/05/lessons-learned-concerning-the-clearfix-css-hack */

.clearfix:after {
	clear: both;
	content: ' ';
	display: block;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
	width: 0;
	height: 0;
}

.clearfix {
	display: inline-block;
}

* html .clearfix {
	height: 1%;
}

.clearfix {
	display: block;
}
.container {
	padding:0 24px;
}

a, span {
	display: inline-block;
}



.footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
}
.wrapper {
	padding-bottom: 90px;
}
.global-popup {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.13);
	z-index: 99;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px;
	display: none;
}
.global-popup.open-pop {
	display: flex;
}
.global-popup.close-pop {
	display: none;
}
.inner-popup {
	max-width: 322px;
	width: 100%;
	background: #fff;
	border-radius: 30px;
	padding: 100px 28px;
}
.inner-popup h2 {
	letter-spacing: 0.54px;
	color: #2C2C2C;
	font-size: 28px;
	line-height: 1.2;
	font-weight: normal;
	margin-bottom: 91px;
}
.inner-popup .login-btn {
	margin-bottom: 0;
	height: 50px;
	width: 120px;
	font-size: 24px;
	background: #6C6C6C;
	padding: 0 10px; 
}
.inner-popup .login-btn:hover {
	background: #E464A0;
}
/*Header Style Start*/

/*Header Style End*/

/*Footer Style Start*/

/*Footer Style End*/
/* body {
	background: url(../images/sign-up.png) no-repeat center top;
	background-size: 100% auto;
}
.wrapper {
	opacity: 0.5;
} */
