<!DOCTYPE html>
<html lang="en">
	<head>

	</head>
	<body>
		<!--Page Wrapper Start-->
		<div class="wrapper">
			<!--Header Section Start-->
			<header class="header">
				
			</header>
			<!--Header Section End-->
			<!--Content Area Start-->
			<div class="content">
				<!-- Banner Section Start -->
				 
				
				<div class="banner-section">
					<div class="container">
						<div class="banner-img">
							<img class="b-img" src="./assets/images/banner-img.jpg" alt="">
							<a href="profile-setting.html" class="setting-icn"><img src="./assets/images/setting.svg" alt=""></a>
							<a href="#" class="profile-img"><img src="./assets/images/profile-img.png" alt=""></a>
						</div>
					</div>
				</div>
				<!-- Banner Section ends -->
				<!-- Profile details Start -->
					<div class="container">
						<div class="row">
							<div class="col-xs-12">
								<div class="profile-details">

									<div class="profile-padd">
										<div class="pr-space d-flex justify-content-between align-items-center">
											<h3 class="profile-name ">Adam 
												<img src="./assets/images/Verification.svg">
											</h3>
											<div class="followcount d-none d-md-block">
												
												<h3 class="user-count">
													<img src="./assets/images/user.png">
													<span>157</span>
												</h3>

												<h3 class="wishlist-count">
													<img src="./assets/images/heart.png">
													<span>12K</span>
												</h3>
											</div>
										</div>
									
										<div class="user-status d-flex justify-content-between ">
											<div class="star-ratting">
												<img src="./assets/images/star1.png">
												<img src="./assets/images/star1.png">
												<img src="./assets/images/star1.png">
												<img src="./assets/images/star1.png">
												<img src="./assets/images/star1.png">
												<span class="d-md-none">5/5</span>
											</div>
											
											<div class="share-icon">
												<img src="./assets/images/instagram.png">
												<img src="./assets/images/awesome-twitter-square.png">
												<img src="./assets/images/youtube.png">

											</div>
										</div>
										<div class="user-online">
											<h4 class="online-status">
												<span></span>
												Online
											</h4>
										</div>

										<div class="user-disc">
											<p>I'm Fascinated with the mind and body.</p>
											<p>I'm Fascinated with the mind and body.</p>
											<a href="#" class="dot">
												<span></span>
												<span></span>
												<span></span>
											</a>

											<a href="#">More info</a>
										</div>

										<div class="follow-btn d-flex justify-content-center">
											<button type="button" class="followers-btn"> Follow for free</button>
										</div>

										<div class="more-icon d-flex justify-content-between">
											<a href="#!">
												<img src="./assets/images/checklist1.png">
											</a>
											<a href="#!">
												<img src="./assets/images/fansofy-logo.png">
											</a>
											<a href="#!">
												<img src="./assets/images/checklist2.png">
											</a>
											<a href="#!" class="d-md-none">
												<img src="./assets/images/Icon-awesome-star.svg">
											</a>
											<a href="#!" class="d-none d-md-block calendar-size"> 
												<img src="./assets/images/awesome-calendar-plus.svg">
											</a> 
										</div>
										
										<div class="library-ico d-md-flex d-none justify-content-end ">
											<div class="dropdown">
										 	 	<a class="dropdown-toggle" href="#" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
												    <img src="./assets/images/material-filter-list.svg">
											  	</a>

											  	<ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
												    <li class="lib-cate"> 
											    		<input id="boxid1" type="radio" name="radio-category">
											    		<label for="boxid1">All</label>
												    </li>
											     	<li class="lib-cate">
												    	<input id="boxid2" type="radio" name="radio-category">
											    		<label for="boxid2">Photos</label>
												    		  
												    </li>
											     	<li class="lib-cate">
												    	<input id="boxid3" type="radio" name="radio-category">
											    		<label for="boxid3">Videos</label>
												    		
												    </li>
											  	</ul>
											</div>
										</div>

										 
									</div>


									<div class="img-card">
										<img src="./assets/images/card-img1.png">
										<img src="./assets/images/card-img2.png">
										<img src="./assets/images/card-img3.png">
										<img src="./assets/images/card-img4.png">
										<img src="./assets/images/card-img6.png">
										<img src="./assets/images/card-img5.png">

										<img src="./assets/images/card-img5.png">
										<img src="./assets/images/card-img5.png">
										<img src="./assets/images/card-img6.png">
										
									</div>

								</div>

							</div>
						</div>
					</div> 

				<!-- Profile details ends -->



				</div>
			<!--Content Area End-->
			<!--Footer Section Start-->
				<footer class="footer">
					<div class="container">
						<div class="menu-bottom d-flex justify-content-between">
							<div class="left-icon d-flex justify-content-between aling-item-center">
								<a href="home.html">
									<img src="./assets/images/awesome-home-pink.png">
								</a>
								<a href="messages.html">
									<img src="./assets/images/material-chat-bubble-pink.png">
								</a>
							</div>

							<div class="half-circle">

							</div>

							<a href="discover" class="search-icon">
								<img src="./assets/images/awesome-search-white.png">
							</a>
							<div class="right-icon d-flex justify-content-between aling-item-center">
							<a href="notification.html">
								<img src="./assets/images/awesome-bell-pink.png">
							</a>
							<a href="index.html">
								<img src="./assets/images/awesome-user-circle-pink.png">
							</a>
						</div>	
					</div>
				</div>
			</footer>
			<!--Footer Section End-->
		</div>
		<!--Page Wrapper End-->
		<script src="assets/js/jquery-3.6.0.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
		<script src="assets/js/bootstrap.min.js"></script>
		<script src="assets/js/site.js"></script>
	</body>
</html>
<router-outlet></router-outlet>
